#titulo{
    margin-left: 200px;
    margin-right: 200px;
    float: center;
    text-align: center;
    background-image: url(img/quadro madeira.png);
}
#titulo h1{
    font-size: x-large;    
}
#titulo h2{
    font-size: medium;
}
